html,
body {
  margin-top: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "PT Sans";
  src: url("fonts/PTSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PT Sans Bold";
  src: url(fonts/PTSans-Bold.ttf) format("truetype");
  font-weight: bold;
}
button,
a,
select {
  cursor: pointer;
}
.button {
  width: 100%;
  background: #ffd75b;
  border: 1px solid #ffd75b;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.button span {
  margin-left: 8px;
}

iframe {
  width: 86%;
  height: 550px;
}
body {
  font-family: "PT Sans";
}
.header {
  margin-bottom: 0;
  white-space: nowrap;
}
.headerUp {
  margin-top: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}
.nav {
  margin-left: 9%;
  width: 41%;
}
ul {
  list-style-type: none;
  padding-left: 0%;
  display: flex;
  justify-content: space-between;
}
li {
  font-size: 18px;

  margin-right: 8%;
}
.phoneInfo {
  margin-left: 147px;
  display: flex;
  font-size: 14px;
  line-height: 18px;
}
.placeInfo {
  margin-left: 4%;
  font-size: 14px;
  line-height: 18px;
}
.phoneInfo img {
  margin-right: 4%;
}
.time {
  color: grey;
}
.city {
  text-align: right;
}
.headerDown {
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  width: 60%;
  margin-left: 5%;
}
.search img {
  width: 15px;
  margin-left: -25px;
}
.resized {
  padding: 9px 13px;
  border: 1px solid #7d7d7d;
  width: 90%;
  margin-left: -3%;
  border-radius: 8px;
}
.personalBlock {
  width: 225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating {
  align-items: center;
}
.love,
.profile,
.basket {
  margin-left: 16%;
}
.basket {
  background: #ffd75b;
  border-radius: 4px;
  padding: 7px 20px;
}
.basketNum,
.ratingNum {
  position: absolute;
  margin-left: 4px;
}
.basket img {
  margin-left: -10px;
}

.smartphone,
.accessories,
.laptops,
.technic,
.tablets {
  width: 232px;
  height: 232px;
  background: #e8e8e8;
  border-radius: 8px;
  display: block;
  text-align: center;
  padding-top: 12px;
  font-size: 18px;
  line-height: 23px;
}
.catalog {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
  width: 100%;
}
.smartphone img {
  background-image: no-repeat bottom;
}
.pictures {
  margin-top: 44px;
}

.slider {
  background-color: #ffd75b;
  height: 330px;
  border-radius: 16px;
}

.locationFN {
  margin-top: 60px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 33px;
}
.geo {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.Volna,
.RUS,
.Marmelad {
  display: block;
}
.shop {
  margin-bottom: 13px;
}

.categories {
  margin-top: 62px;
  font-weight: bold;
  font-size: 36px;
}
.lider {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.tovar {
  margin-top: 60px;
}
.description {
  font-weight: normal;
  font-size: 16px;

  text-align: center;
  margin-top: 12px;
}
.viewAll {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #0044bb;
  margin-top: 21px;
}
.price {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 12px;
}

.inBasket {
  line-height: 18px;
  height: 34px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  background-color: #ffd75b;
  margin-top: 12px;
  padding: 8px 16px;
  border: 1px solid #ffd75b;
  border-radius: 4px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.indexFooter {
  margin-top: 140px;
}
.geoLeft {
  margin-left: 12px;
  font-size: 12px;
  line-height: 14px;
}
.inBasket:hover {
  background: #f6cd53;
}
.inBasket img {
  margin-right: 8px;
}

.block {
  margin-top: 64px;
}

.normal {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 8px;
}
.medium {
  margin-bottom: 11px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}
.numberTel {
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}

.instagram {
  margin-right: 18px;
}
.sales {
  text-decoration-line: line-through;
}
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.firstArrow {
  margin-left: 20px;
}
.secondArrow {
  margin-right: 20px;
}
.iphone12 {
  margin-left: 316px;
}
.firstSlider {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
}
.bought {
  display: block;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 30%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 0.5s;
  transform: translateX(-100%);
}
.menu_active {
  transform: translateX(0%);
}
.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  flex-direction: column;
}
.menu-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}
.menu-btn {
  width: 30px;
  height: 30px;
  background-color: #333;
  position: absolute;
  right: -35px;
  top: 10px;
}
.content {
  transition: 0.5s;
  position: relative;
  z-index: 0;
}
.content_active {
  transform: translateX(30%);
}

.menu2,
.menu3,
.menu4 {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 30%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: 0.5s;
  transform: translateX(-200%);
  display: table;
}
.menu_active2,
.menu_active3,
.menu_active4 {
  transform: translateX(150%);
}
/*CatalogMenu css*/
.wrapper {
  display: flex;
  position: relative;
  overflow-x: hidden;
}
.menu {
  display: block;
  width: 50%;
  background-color: #fff;
  transition: 0.5s;
}

.menu-list {
  width: 20%;
  height: 100vh;
  margin-top: 10%;
  margin-left: 10%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
}
.firstcolumnOverlay {
  height: 20%;
  display: flex;
}
.menu_active {
  transform: translateX(0%);
}

.menu-list a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: normal;
}

.right {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 50%;
  height: 100vh;
  display: flex;

  background-color: black;
  opacity: 0.5;
  transition: 0.5s;
  transform: translateX(-100%);
}
.right_active {
  transform: translateX(100%);
}
.catalogOverlay a {
  font-weight: bold;
}
.cross {
  margin-left: 10px;
  margin-top: 10px;
}
.Overlay {
  margin-top: 32px;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
}
.Overlay a {
  margin-left: 20px;
}
.catalogOverlay a {
  margin-left: 0px;
}
.smartphoneOverlay a:hover,
.laptopsOverlay a:hover,
.accessoriesOverlay a:hover,
.tecnicsOverlay a:hover,
.tabletsOverlay a:hover,
.brendsOverlay a:hover {
  color: #ffd75b;
}

.smarphonesMenu {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: start;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 5%;
  font-size: 18px;
  line-height: 23px;
}
.smarphonesMenu p {
  margin: 0;
  margin-bottom: 16px;
}

.catalogContent {
  display: flex;
  justify-content: space-between;
  margin: 47px 0 105px 0;
}

.mainCatalog {
  width: 79.6%;
}

.filterCatalog {
  width: 19.35%;
  padding: 20px 24px;
  background: rgba(22, 22, 22, 0.03);
  border-radius: 8px;
  height: 1084px;
}
.filterCatalog p {
  margin: 0;
}
.row {
  width: 100%;
  height: 350px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.product {
  width: 18.55%;
}
.imageProduct {
  width: 85.65%;
  margin: auto;
  height: 121px;
}

.imageProduct img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.product {
}

.iconsCatalog {
  width: 11.82%;
  position: relative;
  bottom: 116px;
  right: 6px;

  margin-left: 90%;
}
#loveCatalog {
  margin-top: 4px;
}
.lableProduct {
  width: 112px;
  white-space: nowrap;
  margin: 8px auto 8px auto;
  font-size: 14px;
  line-height: 18px;
  background: #4ab468;
  border-radius: 4px;
  padding: 4px 12px;
  color: white;
  text-align: center;
}

.descriptionProductCard {
  width: 85.65%;
  margin: auto;
  text-align: center;
}
.descriptionProductCard p {
  margin: 0;
}
.Description {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 8px;
}
.newPrice {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-top: 8px;
}
#buttonBUY {
  margin-top: 13px;
  white-space: nowrap;
  background: #ffd75b;
  border: 1px solid #ffd75b;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 16px;
}
.oldPrice {
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
  opacity: 0.5;
  margin-top: 4px;
}
.BlueButton p {
  margin: 0;
}
.BlueButton {
  width: 100%;
  padding: 9px 23px;
  background: #3757c5;
  border: 1px solid #3757c5;
  border-radius: 8px;
  color: white;
  text-align: center;
}
.BlueButton:hover {
  background: #4067e6;
}
.numbersPage {
  width: 16.77%;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 24px;
}
.numbersPage #marginNumberPage {
  margin-right: 28px;
}
.filterTop {
  margin-top: 20px;
}
.filterTop select {
  border: none;
  color: black;
  margin: 0;
  padding: 0;
  width: 160px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}
.filterTop select:hover {
  font-weight: bold;
}
#priceSelect {
  width: 95px;
  margin-left: 24px;
}
#NameSelect {
  width: 130px;
  margin-left: 24px;
}
.DeleteFilter {
  color: #b44a4a;
  font-size: 16px;
  line-height: 21px;
}
.Filter {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}
#checkbox {
  margin-top: 0;
  margin-bottom: 8px;
  display: flex;
  justify-content: start;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}
.manufacturer p,
.priceFilter p,
.availability p,
.volume p,
.color p,
.platform p {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-top: 32px;
  margin-bottom: 13px;
}
#AllView {
  font-size: 16px;
  line-height: 21px;
  color: #3757c5;
  margin-top: 46px;
}
.priceFilter input {
  opacity: 0.4;
  border: 0.5px solid #161616;
  padding-left: 37px;
  border-radius: 4px;
}
.otDo {
  position: relative;
  top: 19px;
  left: 10px;
  opacity: 1;
  color: black;
}
#pricess {
  margin-bottom: 0;
}

/*Shops css*/
iframe {
  margin-top: 20px;
}
.shoopsFooter {
  margin-top: 71px;
}

/*Contacts css*/
.yandexCart {
  margin-top: 71px;
  margin-bottom: 70px;
}

/*Remont css*/
.formRem {
  margin-top: 45px;
  margin-bottom: 120px;
}
.form1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.number {
  margin-left: 4.73%;
}
.inputModelRemont,
.inputComment {
  width: 100%;
}
.inputComment {
  height: 108px;
}
.inputNameRemont,
.inputModelRemont {
  margin-bottom: 16px;
}
.Name {
  width: 55.35%;
}
.number {
  width: 45.92%;
}
.inputNameRemont {
  width: 100%;
}
.inputnumber {
  width: 100%;
}

.formPage {
  width: 39.25%;
  margin: auto;
}
.formRem input {
  border: 1px solid #aaaaaa;
  margin: 8px 0px;
  border-radius: 4px;
  padding: 8px 16px;
}
.buttonSubmit {
  padding: 8px 16px;
  width: 100%;
  background: #ffd75b;
  border: 1px solid #ffd75b;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 16px 0px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.pageRemont {
  /*Выравнивание по центру*/
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.textRem {
}
#HeadRemont {
  margin-left: 0px;
}
#submit {
  margin-left: 5px;
}
.HeadlinesTextRemont {
  margin-top: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}
iframe {
  margin: 21px 7% 0 7%;
}
/*Sales css*/
.photoSales {
  background: radial-gradient(50% 50% at 50% 50%, #ffc100 0%, #fdd149 100%);
  border-radius: 16px;
  height: 291px;
  width: 100%;
}
#secondSales {
  margin-top: 64px;
  background: url(../img/cristmas.PNG);
  border-radius: 16px;
}
.photoSales {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.descriptionSales .boldText {
  font-size: 36px;
  line-height: 47px;
}
.inPhotoDescriotion {
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  font-size: 48px;
  line-height: 62px;
  font-weight: bold;
  height: 291px;
}

.first {
  margin-top: 40px;
}
.titleSales {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
}
.firstPrice {
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}
.SecondPrice {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: line-through;
  color: #161616;

  opacity: 0.3;
}
.descriptionSales p {
  margin-top: 16;
}
.salesFooter {
  margin-top: 64px;
}

@media only screen and (min-width: 1364px) {
}

/*Catalog css*/
.ButtonBasket {
  margin-top: 12px;
  border: 1px solid #161616;
  border-radius: 4px;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffd75b;
}

/*Reiting css*/
.ITEMcomparison {
  display: flex;
  margin: 53px 0 67px 0;
}
.ItemName {
  width: 193px;
  margin-right: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}
.itemCharacteristicks {
  width: 193px;
  margin-right: 32px;
}

.comparison {
}
.parametrBlock {
  border-bottom: 1px solid #7d7d7d;
  padding-bottom: 9px;
  margin-bottom: 24px;
}
.parametrBlock,
.parametrsTitle {
  color: #7d7d7d;
}
.parametr {
  display: flex;
  justify-content: start;
  margin-bottom: 26px;
}
.parametrsTitle {
  width: 193px;
  height: 22px;
  margin-right: 16px;
}
.descriptionsParametr * {
  margin-right: 32px;
  width: 193px;
  font-size: 18px;
  line-height: 23px;
}
.descriptionsParametr {
  display: flex;
  justify-content: start;
}
.comparison {
  margin-bottom: 53px;
}
.buy {
  margin-left: 16.6%;
  display: flex;
}
#dv {
  margin-right: 9.8%;
}
#NameItem {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
#priceItem {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

/*aboutGadges css */
.aboutGadget {
  margin-top: 35px;
  display: flex;
}
.photoGadget {
  display: block;
  width: 40%;
}
.bigSizePhoto img {
  width: 100%;
}

.smallSizePhoto {
  display: flex;
  justify-content: center;

  height: 56px;
  width: 100%;
  opacity: 0.5;
  margin-top: 24px;
}

.priceGadget {
  width: 44.35%;
  margin-left: 2.66%;
}
.tradeInProducts {
  width: 62.7%;
}
.deliveryProducts {
  width: 46.13%;
}
.icons {
  width: 70px%;
}
.descriprionsProducts {
  width: 100%;
}
.articul {
  width: 100%;
}
.GadgetsInformation {
  width: 87.02%;
  margin-top: 120px;
}
.infoBlockCharacteristicks {
  margin-bottom: 62px;
}
.infoBlockCharacteristicks img {
  width: 100%;
}
.infoBlockCharacteristicks p {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-top: 24px;
  margin-bottom: 8px;
}
.infoBlockCharacteristicks span {
  font-size: 16px;
  line-height: 22px;
}
.infoGadgets {
  width: 57%;
  margin-right: 10%;
}
.withThisProduct {
  width: 21%;
  height: 20%;
  margin: 0 auto;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #7d7d7d;
  padding: 32px 0;
}
.blockWithThis {
  padding: 18px 24px 33px;
}
.blockWithThis span {
}
.blockWithThis span button {
  border: none;
  margin: 8px 0 0 0;
}
.blockWithThis img {
}
.withThisP img {
  margin-top: 18px;
}
.withThisProduct * {
  margin: 0 auto;

  align-items: center;
  align-content: center;
  justify-content: center;
}
.withThisProduct p {
  margin: 0;
}
.leftRightBlock {
  display: flex;
  margin: 42px 0 60px 0;
}
.watchedEarlier {
  width: 100%;
  height: 325px;
}
.tabs button {
  background: #e8e8e8;
  border-radius: 32px;
  padding: 12px 42px;
  width: 22%;
  border: none;
}
.watchedEarlier .salesleaderProducts {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
}

.descriprionsProducts,
.icons,
.deliveryProducts,
.tradeInProducts,
.priceDescriotionItem,
.buttonDescriotionsProducts {
  margin-top: 32px;
}

.articul p {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
}
.articul span {
  font-size: 14px;
  line-height: 18px;
  background: #4ab468;
  border-radius: 4px;
  padding: 4px 12px;
  color: white;
}
.BoldTextDescripton {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 8px;
}
.greyTextDescripton {
  font-size: 14px;
  line-height: 18px;
  color: #7d7d7d;
}
.priceDescriptionItem {
  margin-bottom: 16px;
}
.yellow {
  padding: 8px 16px;
  background: #ffd75b;
  border-radius: 8px;
  display: table;
}
.pricesITEM {
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
}
.pricesITEM p {
  font-weight: normal;
  font-size: 26px;
  margin: 0;
  line-height: 70%;
}
.Products button,
.buttonDescriotionsProducts button {
  border: 1px solid #ffd75b;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 24px;
  background: #ffd75b;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.buttonDescriotionsProducts .OrderButton {
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #161616;
  background: #ffffff;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  justify-content: center;
  align-items: center;
}
.buttonDescriotionsProducts .OrderButton:hover {
  background: #f6cd53;
}
.Products button {
  margin-top: 8px;
}
.buttonPRODUCTS {
  display: flex;
}
.buttonPRODUCTS span {
  margin-left: 8px;
}

.greyProducts {
  color: #161616;
  opacity: 0.7;
  font-size: 16px;
  line-height: 21px;
}
.boldTradeIn {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-top: 13px;
}
.greyProducts,
.greyTextDescripton {
  margin: 0;
}
.TradeinProd {
}
.deliveryProducts span {
  color: #161616;
  opacity: 0.7;
  font-size: 16px;
  line-height: 21px;
}
.OrderButton {
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #161616;
  background: #ffffff;
  padding: 8px 16px;
  margin-top: 13px;
  font-size: 14px;
}
.imgReit {
  margin-left: 20px;
}
.deliverySearch {
  width: 86px;
}
.courierDelivery,
.fromShops {
  display: flex;
  justify-content: start;
}
.withThisProduct {
  width: 240px;
  padding: 18px 24px 3px;
}
.withThisProduct .pWithThis {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 18px;
}
.ItemWithThis {
  font-size: 16px;
  line-height: 21px;
}
.BOLD {
  font-weight: bold;
  margin-bottom: 8px;
}
.Products {
  margin-bottom: 40px;
}
.footerItem {
  margin-top: 120px;
}
.courierDelivery .MarginItem,
.fromShops .MarginItem {
  display: block;
  margin-left: 11.71px;
}
.buttonCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonCentre .buttonOrderItem {
  margin-left: 8px;
}
/**HEADER SEARCH**/

.hideSearch {
  width: 100%;
  background-color: white;
  height: 248px;
  box-shadow: 0px 2px 8px rgba(22, 22, 22, 0.15);
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px #16161626;
}
.hide {
  display: none;
}
.searchRezult {
  margin-left: 25%;
}
.TextSearch p {
  margin: 0 0 19px 0;
}
.TextSearch {
  padding-top: 19px;
  margin-left: 25.63%;
}
.descriptionSales p span {
  font-size: 18px;
  line-height: 23px;
}
