@media screen and (max-width: 1650px) {
  /**Header**/
  .imgLogoHeader {
    margin-right: 85px;
  }
  .navigationHeader {
    margin-right: 37px;
  }
  .phone {
    margin-right: 20px;
  }
  /**Header**/
}
@media screen and (max-width: 1435px) {
  .hidenPhone {
    display: none;
  }
}

@media screen and (max-width: 1376px) {
  /**Header**/
  .imgLogoHeader {
    margin-right: 40px;
  }
  .navigationHeader {
    margin-right: 37px;
  }
  .phone {
    display: none;
  }
  .inPhotoDescriotion {
    font-size: 38px;
  }
  /** Header up**/
}

@media screen and (max-width: 1100px) {
  /** Header up**/
  .imgLogoHeader {
    margin-right: 0px;
  }
  .navigationHeader {
    margin-right: 100px;
  }
  .phone {
    display: none;
  }
  .HidePlace {
    display: none;
  }
  .showPlace {
    display: block;
  }
  .logoHeader {
    margin-bottom: 10px;
  }
  .inputHeader {
    margin-right: 5%;
  }
  .formPage {
    width: 50%;
  }
  .inPhotoDescriotion {
    font-size: 32px;
  }
  .phoneNumber {
    font-size: 20px;
  }
  .fixedBlock {
    display: none;
  }
  .yourBasket {
    width: 100%;
  }
  .rightContacts {
    min-width: 193px;
  }
  .widthName {
    min-width: 298px;
  }
  .allWidth {
    min-width: 504px;
  }
  .yourBasket {
    width: 740px;
  }

  /**Header**/
}

@media screen and (max-width: 998px) {
  .cabinetBlock {
    width: 180px;
  }
  .hideCatalog {
    display: none;
  }
  .searchHeader .placeAnOrder {
    width: 50px;
  }
  .searchHeader .inputHeader {
    margin-left: 0;
  }
  .inputHeader {
    width: 60%;
  }
}

@media screen and (max-width: 858px) {
  /**Header**/
  .placeHeader {
    display: none;
  }
  .logoHeader {
    justify-content: space-between;
  }
  .imgLogoHeader {
    margin-right: 40px;
  }
  .imgLogoHeader img {
    width: 111px;
  }
  .navigationHeader {
    min-width: 75%;
    margin-right: 0;
  }
  .navHeader li {
    justify-content: space-between;
    margin-right: 0;
  }
  .searchHeader .placeAnOrder {
    margin-right: 20px;
  }
  .phoneNumber {
    font-size: 18px;
  }
  .yandexCart {
    height: 450px;
  }
  .formPage {
    width: 70%;
  }
  .inPhotoDescriotion {
    font-size: 28px;
  }
  /**Header**/
}

@media screen and (max-width: 800px) {
  .logoHeader {
    display: none;
  }
  .searchHeader {
    display: none;
  }
  .hideCatalog {
    display: block;
  }
  #logoHeader {
    display: flex;
    align-items: flex-end;
  }
  #searchHeader {
    display: block;
  }

  .indexFooter .content .border,
  .footerBlock {
    display: none;
  }

  #footerBlock {
    display: block;
  }

  footer .content {
    display: none;
  }
  .content {
    max-width: 95%;
  }
  main .content {
    max-width: 95%;
  }
  .TradeInBlock {
    width: 100%;
  }
  .buttonTradeIn {
    width: 100%;
  }
  .firstInfoTradeIn,
  .secondInfoTradeIn {
    width: 100%;
  }
  .firstInfoTradeIn p,
  .secondInfoTradeIn p {
    white-space: normal;
  }
  .yandexCart {
    margin-bottom: 20px;
  }
  .formRem {
    margin-bottom: 20px;
  }
  .photoSales {
    margin-left: -3%;
    width: 107%;
    border-radius: 0;
  }
  .inPhotoDescriotion {
    font-size: 26px;
  }
}
@media screen and (max-width: 640px) {
  .TradeInBlock {
    display: block;
    width: 100%;
  }
  .rightForm {
    margin-top: 46px;
    width: 80%;
  }
  .leftForm {
    margin-right: 0;
    width: 80%;
  }
  .buttonTradeIn {
    width: 80%;
    white-space: normal;
  }
  .inPhotoDescriotion {
    font-size: 24px;
  }
  .orderInfo {
    display: block;
  }
  .orderStatus {
    margin-top: 30px;
  }
  .lider,
  .catalog {
    min-width: 1440px;
  }
  .slider,
  .locationFN,
  .geo {
    display: none;
  }
  .indexFooter {
    margin-top: 56px;
  }
  .salesHidden {
    display: flex;
    margin-top: 16px;
  }
  .catalog {
    margin-top: 16px;
  }
}

@media screen and (max-width: 569px) {
  .formPage {
    width: 100%;
  }
  .titleSales {
    font-size: 35px;
  }
  .descriptionSales .boldText {
    font-size: 30px;
  }
  .descriptionSales p span {
    font-size: 18px;
    width: 80%;
  }
  .inPhotoDescriotion {
    font-size: 24px;
    line-height: normal;
    text-align: center;
    width: 80%;
  }
  #hidePolitics {
    display: none;
  }
  .rightContacts {
    margin-left: 0;
  }
  .flexBlock {
    display: block;
  }
  .order .imgOrder,
  #OrderFlex {
    display: block;
  }
  .descriptionOrder {
    width: 100%;
  }
  .counter {
    width: 100%;
    margin-top: 18px;
    justify-content: start;
  }
  #prices {
    margin-top: 18px;
  }
  .order {
    height: 200px;
  }
  .counter .resized {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .buttonTradeIn {
    width: 100%;
    white-space: normal;
  }
  .rightForm {
    margin-top: 46px;
    width: 100%;
  }
  .leftForm {
    margin-right: 0;
    width: 100%;
  }
  #hideCalc {
    display: block;
  }
  .yandexCart {
    height: 400px;
  }
  .titleSales {
    line-height: normal;
  }
  .descriptionSales .boldText {
    line-height: normal;
  }
  .personalInfo {
    display: block;
  }
  .photoAccount {
    width: 166px;
  }
  .hideSearch {
    background: white;
    height: 100vh;
  }
}
@media screen and (max-width: 407px) {
  #Hide {
    display: none;
  }
  #hideCalculator {
    display: none;
  }
  #ShowCalculator {
    display: block;
  }
  .titleSales {
    font-size: 30px;
  }
}
