@font-face {
  font-family: "PT Sans";
  src: url("fonts/PTSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PT Sans Bold";
  src: url(fonts/PTSans-Bold.ttf) format("truetype");
  font-weight: bold;
}

.catalogButton {
  white-space: nowrap;
}
.catalog .smartphone,
.accessories,
.laptops,
.technic,
.tablets {
  display: table-column;
  width: 18.71%;
  height: 18.71%;
}
.pictures img {
  width: 59.48%;
  margin-top: 24px;
  margin-bottom: 13px;
}
.shopVolna {
  width: 32%;
}
.shop {
  width: 100%;
}
.liderITEMS,
.smartphoneITEMS,
.accessoriesITEMS,
.laptopsITEMS,
.technicITEMS,
.tabletsITEMS {
  width: 15.56%;
}
.liderITEMS .description,
.smartphoneITEMS .description,
.accessoriesITEMS .description,
.laptopsITEMS .description,
.technicITEMS .description,
.tabletsITEMS .description {
  height: 55px;
  width: 100%;
}
.liderITEMS #lider,
.smartphoneITEMS #smartphone,
.accessoriesITEMS #accessories,
.laptopsITEMS #laptops,
.technicITEMS #technic,
.tabletsITEMS #tablets {
  width: 100%;
}
.smartphone div,
.accessories div,
.laptops div,
.technic div,
.tablets div {
  margin-top: 0;
}
button,
a,
select {
  cursor: pointer;
}
select option {
  font-family: "PT Sans";
}
* {
  box-sizing: border-box;
  font-family: "PT Sans";
}

.content {
  max-width: 87%;
  margin: 0 auto;
}
.salesHidden {
  display: none;
}
.resizedHeader {
  width: 100%;
  border: 1px solid #7d7d7d;
  padding: 9px 13px;
  border-radius: 8px;
}
.placeAnOrder img {
  margin-right: 5.32%;
}
.imgLogoHeader {
  min-width: 11.13%;
  margin-right: 112px;
}
.showPlace {
  display: none;
}
header .placeAnOrder {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.navHeader {
  padding-left: 0;
  display: flex;
}
li {
  list-style-type: none;
  margin-right: 7.11%;
}
.headerNav {
  max-width: 100%;
}
.navigationHeader {
  min-width: 38.29%;
  margin-right: 147px;
  white-space: nowrap;
}
.phone {
  white-space: nowrap;
  width: 10.24%;
  margin-right: auto;
  margin-right: 3.03%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.placeHeader {
  min-width: 17.42%;
  align-items: center;
}

.phone img {
  margin-bottom: -1.5px;
}
.searchHeader .placeAnOrder {
  width: 188px;
  height: 40px;
  padding: 8px 24px;
  margin: 0;
}
.maxWidth {
  width: 84.86%;
}
.inputHeader {
  display: flex;
  width: 49.19%;
  margin-right: 11.18%;
  margin-left: 5%;
}
.inputHeader span {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: -30px;
}
#logoHeader {
  display: none;
  justify-content: space-between;
}
#logoHeader .placeAnOrder {
  width: 50px;
}

#logoHeader .imgLogoHeader {
  margin-right: 0;
}
#searchHeader {
  display: none;
}

#searchHeader .inputHeader {
  margin: 24px 0 0 0;
  width: 100%;
}
.cabinetBlock {
  width: 245px;
  display: flex;
  justify-content: space-between;
}
.phone img {
  margin-right: 6px;
}
.cabinetNumCenter {
  display: flex;
  align-items: center;
}
.placeHeader p {
  text-align: right;
}
.placeHeader #grey {
  margin-top: -15px;
}
#grey {
  color: #7d7d7d;
}
.navHeader a {
  color: black;
  text-decoration: none;
}
.imgLogoHeader:hover {
  transform: scale(1.2);
}
.navHeader a:hover,
.phone a:hover {
  text-decoration: underline;
}
.phone a {
  text-decoration: none;
  color: black;
}
.cabinetNumCenter button {
  background: #ffd75b;
  border-radius: 4px;
  padding: 7px 16px;
  border: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.cabinetNumCenter a {
  text-decoration: none;
  color: black;
}
.cabinetNumCenter img {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.cabinetNumCenter a {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.centerNum {
  text-align: center;
  margin: auto;
  margin-left: 4px;
}
.nav {
  background: black;
  height: 139px;
}
.centerNum {
  margin-bottom: auto;
}
.logoHeader {
  margin-top: 24px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.searchHeader {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.mainBlock .p {
  margin-top: 61px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  width: 10.73%;
}
.yourBasket {
  width: 59.68%;
  margin-right: 7.82%;
}
.fixedBlock {
  left: 60.5%;
  width: 32.5%;
  height: 308px;
  position: sticky;
  top: 10%;
  padding: 45px 52px;

  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 8px;
}
.fixedBlock * {
  display: flex;
  justify-content: space-between;
}
.placeAnOrder {
  width: 100%;
  background: #ffd75b;
  border: 1px solid #ffd75b;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.ordersSumm,
.sale,
.delivery {
  font-size: 18px;
  line-height: 23px;
}
.order .imgOrder,
#OrderFlex,
.deleteOrder {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgOrder {
  margin-left: 0;
}
#order {
  width: 100%;
  display: flex;
  justify-content: start;
}
.deleteOrder {
  margin-right: -5%;
  margin-bottom: 2%;
}
.counter {
  width: 20.81%;
  display: flex;
  justify-content: center;
}
.counter input {
  background: #ffffff;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  width: 64px;
  height: 42px;
}

.sale,
.delivery {
  margin-top: 16px;
}
.minus,
.resized {
  margin-right: 8px;
}
.minus,
.plus {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  min-height: 42px;
  min-width: 36px;
  border-radius: 4px;
  background: #e8e8e8;
  border: none;
  font-size: 22px;
  line-height: 28px;
}
.plus {
  margin-right: 20px;
}
.minus {
  margin-left: 20px;
}
#OrderFlex {
  width: 600px;
}
.result {
  margin-top: 24px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}
.leftRight {
  display: flex;
}
.order {
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 8px;
  height: 140px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 5.68% 0 1.35%;
}
.contactDetails {
  margin-top: 63px;
}
.descriptionOrder {
  width: 174px;
  display: block;
  align-content: center;
  align-items: center;
  margin: auto 0;
}
.greyText {
  color: #aaaaaa;
  margin: 0 0 4px 0;
}
.blackText {
  margin: 0;
}
.block {
  width: 74%;
}
.flexBlock {
  display: flex;
}
.approval {
  width: 74%;
  margin-right: 0;
  white-space: nowrap;
}
.promo {
  height: 80px;
  margin-bottom: 87px;
}
.border {
  border-bottom: 0.5px solid #161616;
  opacity: 0.4;
}
.footerBlock {
  display: flex;
  justify-content: space-between;
  height: 345px;
  margin: 0;
}
.footerBlock * {
  color: #7d7d7d;
}
.messenger {
  opacity: 1;
}
.footerBlock {
  padding-top: 64px;
}
.hrefPartners {
  width: 25%;
}
.hrefCatalog {
  width: 25%;
}
.hrefBlock {
  width: 25%;
}
.contactsBlock {
  width: 25%;
}
.phoneNumber {
  margin-top: 18px;
  font-size: 24px;
  line-height: 31px;
  white-space: nowrap;
}
.messenger * {
  margin-right: 10px;
}
.contactsBlock,
.phoneNumber a {
  text-decoration: none;
  color: black;
}
.hrefBlock .boldText,
.hrefCatalog .boldText,
.hrefPartners .boldText {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 19px;
}
.hrefBlock p,
.hrefCatalog p,
.hrefPartners p {
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 8px;
  margin-top: 0;
}
.contactDetails input,
select {
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 16px;
  color: #7d7d7d;
}
select {
  font-size: 18px;
  line-height: 23px;
}
.greenText {
  font-size: 18px;
  line-height: 140%;
  color: #4ab468;
}
.inputPromo {
  width: 28.13%;
  margin-right: 2.16%;
  font-size: 18px;
  line-height: 23px;
}

.code {
  width: 164px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 3px;
}
.input {
  width: 59.13%;
  margin-right: 2.74%;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 16px;
  color: #7d7d7d;
}
.titleContacts {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
}
.navTitleContacts {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
  margin-top: 16px;
}
.promocode {
  margin-top: 44px;

  font-size: 14px;
  line-height: 18px;
}
.promo {
  font-size: 24px;
  line-height: 31px;
}
.input {
  margin-top: 8px;
  font-size: 18px;
  line-height: 23px;
}
.marginContacts {
  margin-top: 44px;
}
.rightContacts {
  width: 38.22%;
  margin-left: 15px;
}
.allWidth select {
  width: 100%;
}
.smallWidth input {
  width: 41.39%;
}
.widthEight input {
  width: 79.8%;
}
.rightContacts input {
  width: 100%;
}
.widthName {
  width: 59.01%;
}
.widthName input {
  width: 100%;
}
.checkbox a {
  color: blue;
  text-decoration: underline;
}

/*checkBox*/
/* для элемента input c type="checkbox" */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox + label {
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #ffd75b;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #ffd75b;
  border-color: #ffd75b;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #ffd75b;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked + label::before {
  border-color: #ffd75b;
  background-color: #ffd75b;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #ffd75b;
}

.checkbox {
  width: 100%;
  margin-top: 53px;
  font-size: 12px;
  line-height: 16px;
}

/*fonts*/
.p {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
}
#blackText {
  font-size: 14px;
  line-height: 18px;
}
#greyText {
  font-size: 12px;
  line-height: 16px;
}
#prices {
  font-size: 24px;
  line-height: 31px;
}
#placeAnOrder {
  font-size: 18px;
  line-height: 23px;
}

/*footer*/
footer a {
  text-decoration: none;
}
footer a:hover {
  font-weight: bold;
  color: black;
}
button:hover {
  background: #f6cd53;
}

#footerBlock {
  display: none;
  opacity: 0.8;
  background: rgba(232, 232, 232, 0.5);
  box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.15);
  height: 537px;
}
#footerBlock h1,
h2,
h3 {
  margin: 0;
}
#footerBlock h1 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 24px;
}
#footerBlock h2 {
  margin-top: 4px;
  font-size: 14px;
  font-weight: normal;
}
#footerBlock h3 {
  font-weight: normal;
  font-size: 12px;
  margin-top: 8px;
}
#logoFooter {
  width: 107px;
  margin-top: 24px;
}
#Place {
  width: 281px;
}
#Place p {
  margin: 5px;
}
#footerBlock #footerContent {
  padding: 0px 16px 0 16px;
}
#footerMessenger {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 40px;
}
#phoneFooter button {
  margin-top: 12px;
  border: 1px solid #161616;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 16px;
}
#phoneFooter button div a span {
  margin-left: 8px;
}
#phoneFooter button div a {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
footer #footerBlock a:hover {
  font-weight: normal;
  cursor: pointer;
}
footer #footerBlock .pUp img:hover {
  cursor: pointer;
}
